<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width" />
	<title>Blocos de Notas</title>
	<link rel="stylesheet" th:href="@{/css/estilo.css}" />
</head>

<body>


	<main>
		<section>
			<h1>Lista de Contatos</h1>
		</section>

		<section>
			<form th:action="@{/table}" th:method="post" > 

				<label for="nome">Nome:</label>
				<input type="nome" id="nome"  name="nome" placeholder="Nome" required />

				<label for="sobrenome">Sobrenome:</label>
				<input type="sobrenome" id="sobrenome"  name="sobrenome" placeholder="Sobrenome" required />

				<label for="texto">Telefone:</label>
				<textarea  id="texto" name="texto" placeholder="Sobre oque está pensando hoje 🤔 ? " required></textarea>


				<button type="submit">Salvar</button>
				
			</form>
		</section>                                                                   

		<section>
			<table>
				<thead>
					<tr>
						
						<th>Nome</th>
						<th>Sobrenome</th>
						<th>Texto</th>
						
						<th>Ações</th>
						
					</tr>
				</thead>

				<tbody>
					<tr th:each="notePad: ${notePads}">
						
						<td th:text="${notePad.nome}"></td>
						<td th:text="${notePad.sobrenome}"></td>
						<td th:text="${notePad.texto}"></td>
						
						<td>
							
							<a th:href="@{/}">Editar</a>
							
							<form th:action="@{/table/{id}(id=${notePad.id})}" th:method="delete">
                                <button type="submit">Remover</button>
                            </form>
						</td>
					</tr>
				</tbody>
			</table>
		</section>
	</main>
</body>

</html>