<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width" />
	<title>Blocos de Notas</title>
	<link rel="stylesheet" th:href="@{/css/estilo2.css}" />
</head>

<body>


	<main>
		<section>
			<h1>Lista de Contatos</h1>
		</section>

		<section>
			<form th:action="${notepad.novo} ? @{/table} : @{/table/{id}(id=${notepad.id})}" th:object="${notepad}" th:method="${notepad.novo} ? post : put"
				th:object="${notepad}" th:method=" post">
				
				<div th:if="${!notepad.novo}">
					<label>Código: </label> 
					
					<input th:field="*{id}" readonly="readonly" />
				</div>
				
				<div>
					<label>Nome: </label> 
					
					<input th:field="*{nome}" />
				</div>

				<div>
					<label>Sobrenome: </label> 
					
					<input th:field="*{sobrenome}"/>
				</div>

				<div>
					<button>Salvar</button>
				</div>
				
			</form>
		</section>                                                                   

		<section>
			<table>
				<thead>
					<tr>
						
						<th>Nome</th>
						<th>Sobrenome</th>
						<th>Texto</th>
						
						<th>Ações</th>
						
					</tr>
				</thead>

				<tbody>
					<tr th:each="notepad: ${notePads}">
						
						<td th:text="${notepad.nome}"></td>
						<td th:text="${notepad.sobrenome}"></td>
						<td th:text="${notepad.texto}"></td>
						
						<td>
							
							<a th:href="@{/}">Editar</a>
							
							<form th:action="@{/table/{id}(id=${notepad.id})}" th:method="delete">
                                <button type="submit">Remover</button>
                            </form>
						</td>
					</tr>
				</tbody>
			</table>
		</section>
	</main>
</body>

</html>